// theme colours
$colour-primary: #56ba89;
$colour-primary-light: #c9e9d9;
$colour-primary-dark: #347f5a;
$colour-accent: #ff9800;
$colour-accent-light: #ffe0b3;
$colour-accent-dark: #cc7a00;
$colour-black: #000000;
$colour-white: #ffffff;
